﻿<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Game 2048</title>
    <script src="~/Scripts/jquery-3.4.1.js"></script>
</head>
<body>
    <center>
        <h1>Game 2048</h1>
        <div id="arrow_text"></div>
        <br />
        <div id="GameArea">
            <table border="1">
                @for (int y = 0; y < 4; y++)
                {
                    <tr>
                        @for (int x = 0; x < 4; x++)
                        {
                            string id = "square_" + x + y;
                            <td width="65px" height="65px" align="center" valign="middle"><img src="~/images/square_0_.svg" id=@id /></td>
                        }
                    </tr>
                }
            </table>
            <h2><div id="Score">Score: 0</div></h2>
        </div>


        <script type="text/jscript">
            function changeGameArea(val) {
                var url = "/Home/_game?id=" + val;
                //document.getElementById('GameArea').innerHTML = "<br>Loading " + url + "<br>";
                /* Request the partial view with .get request. */
                $.getJSON(url, function (data) {
                    console.log(data);
                    var y;
                    for (y = 0; y < 4; y++)
                    {
                        var x;
                        for (x = 0; x < 4; x++)
                        {
                            var src = "/images/square_" + data[4*x+y] + "_.svg";
                            var elemtent = "square_" + x + y;
                            console.log(elemtent + " " + src);
                            document.getElementById(elemtent).src = src;
                        }
                    }
                    document.getElementById("Score").innerHTML = "Score: " + data[16];
                });
            }
            changeGameArea(0);
        </script>
    </center>
    <script type="text/jscript">
        document.onkeydown = function (e) {

            if (e.keyCode == '38') {
                // up arrow
                document.getElementById("arrow_text").innerHTML = "Up arrow";
                changeGameArea(1);
            }
            else if (e.keyCode == '40') {
                // down arrow
                document.getElementById("arrow_text").innerHTML = "Down arrow";
                changeGameArea(2);
            }
            else if (e.keyCode == '37') {
                // left arrow
                document.getElementById("arrow_text").innerHTML = "Left arrow";
                changeGameArea(3);
            }
            else if (e.keyCode == '39') {
                // right arrow
                document.getElementById("arrow_text").innerHTML = "Right arrow";
                changeGameArea(4);
            }
        }
    </script>
</body>
</html>