﻿@model uint[,]


<table border="1">

    @for (int y = 0; y < 4; y++)
    {
        <tr>
            @for (int x = 0; x < 4; x++)
            {
                <td width="65px" height="65px" align="center" valign="middle"><img src="~/images/square_@Model[x, y].ToString()_.svg" /></td>
            }
        </tr>
    }

</table>
