﻿<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Game 2048</title>
    <script src="~/lib/jquery/jquery.js"></script>
</head>
<body>
    <center>
        <h1>Game 2048</h1>
        <div id="arrow_text"></div>
        <br />
        <div id="GameArea"></div>
        <script type="text/jscript">
            function changeGameArea(val) {
                var url = "/_game?id=" + val;
                document.getElementById('GameArea').innerHTML = "<br>Loading " + url + "<br>";
                /* Request the partial view with .get request. */
                $.get(url, function (data) {
                    document.getElementById('GameArea').innerHTML = data;
                });
            }
        </script>
    </center>
    <script type="text/jscript">
        document.onkeydown = function (e) {

            if (e.keyCode == '38') {
                // up arrow
                document.getElementById("arrow_text").innerHTML = "Up arrow";
                changeGameArea(1);
            }
            else if (e.keyCode == '40') {
                // down arrow
                document.getElementById("arrow_text").innerHTML = "Down arrow";
                changeGameArea(2);
            }
            else if (e.keyCode == '37') {
                // left arrow
                document.getElementById("arrow_text").innerHTML = "Left arrow";
                changeGameArea(3);
            }
            else if (e.keyCode == '39') {
                // right arrow
                document.getElementById("arrow_text").innerHTML = "Right arrow";
                changeGameArea(4);
            }
        }
        document.onload(changeGameArea(0));
    </script>
</body>
</html>