﻿<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Game 2048</title>
    <script src="~/lib/jquery/jquery.js"></script>
</head>
<body>
    <center>
        <h1>Game 2048</h1>
        <div id="arrow_text"></div>
        <br />
        <div id="GameArea">
            <table border="1">
                @for (int y = 0; y < 4; y++)
                {
                    <tr>
                        @for (int x = 0; x < 4; x++)
                        {
                            string id = "square_" + x + y;
                            <td width="65px" height="65px" align="center" valign="middle"><img src="~/images/square_0_.svg" id=@id /></td>
                        }
                    </tr>
                }
                </table>
        </div>


        <script type="text/jscript">
            function changeGameArea(val) {
                var url = "/Game2/_game?id=" + val;
                //document.getElementById('GameArea').innerHTML = "<br>Loading " + url + "<br>";
                /* Request the partial view with .get request. */
                $.get(url, function (data) {
                    //console.log(data);
                    //console.log(data[0]);
                    //document.getElementById('GameArea').innerHTML = data;
                    var y;
                    for (y = 0; y < 4; y++)
                    {
                        var x;
                        for (x = 0; x < 4; x++)
                        {
                            var src = "@Url.Link("Default", null)" + "images/square_" + data[4*x+y] + "_.svg";
                            var elemtent = "square_" + x + y;
                            //console.log(elemtent + " " + src);
                            document.getElementById(elemtent).src = src;
                        }
                    }
                });
            }
            changeGameArea(0);
        </script>
    </center>
    <script type="text/jscript">
        document.onkeydown = function (e) {

            if (e.keyCode == '38') {
                // up arrow
                document.getElementById("arrow_text").innerHTML = "Up arrow";
                changeGameArea(1);
            }
            else if (e.keyCode == '40') {
                // down arrow
                document.getElementById("arrow_text").innerHTML = "Down arrow";
                changeGameArea(2);
            }
            else if (e.keyCode == '37') {
                // left arrow
                document.getElementById("arrow_text").innerHTML = "Left arrow";
                changeGameArea(3);
            }
            else if (e.keyCode == '39') {
                // right arrow
                document.getElementById("arrow_text").innerHTML = "Right arrow";
                changeGameArea(4);
            }
        }
    </script>
</body>
</html>